node_modules/
.cache/
.DS_Store
*.log
public/images/*.img
public/images/*.img.gz
public/images/*.img.zst
public/images/*.qcow2
public/images/*.iso
public/images/*.tar
public/images/*.tar.gz
public/images/*.tar.xz
*.code-workspace
